<div class="parent h-screen p-8">
  <app-card class="card1">
    <p>TEST1</p>
  </app-card>
  <app-card class="card2">
    <p>TEST2</p>
  </app-card>
  <app-card
    class="card3"
    [height]="'h-24 lg:h-full'"
    [backgroundClass]="'bg-primary'"
    [textColor]="'text-black'"
  >
    <a
      routerLink="/sales"
      class="flex flex-col items-center justify-center p-4 w-full h-full rounded-[40px] hover:bg-primaryShade-200 duration-500 ease-in-out"
    >
      <div class="flex items-center space-x-3">
        <img
          src="/../../assets/icons/total_orders.svg"
          alt="Orders icon"
          class="h-12 w-12 lg:h-16 lg:w-16"
        />
        <p class="text-xl xl:text-2xl">Orders &#64;{{ currentYear }}</p>
      </div>
      <p class="text-2xl xl:text-4xl font-bold">
        #{{ totalOrders | number : "1.0-0" }}
      </p>
    </a>
  </app-card>
  <app-card
    class="card4"
    [height]="'h-24 lg:h-full'"
    [backgroundClass]="'bg-primary'"
    [textColor]="'text-black'"
  >
    <a
      routerLink="/customers"
      class="flex flex-col items-center justify-center p-4 w-full h-full rounded-[40px] hover:bg-primaryShade-200 duration-500 ease-in-out"
    >
      <div class="flex items-center space-x-3">
        <img
          src="/../../assets/icons/total_customers.svg"
          alt="Orders icon"
          class="h-12 w-12 lg:h-16 lg:w-16"
        />
        <p class="text-xl xl:text-2xl">Customers &#64;{{ currentYear }}</p>
      </div>
      <p class="text-2xl xl:text-4xl font-bold">
        #{{ totalCustomers | number : "1.0-0" }}
      </p>
    </a>
  </app-card>
  <app-card class="card5">
    <p>TEST5</p>
  </app-card>

  <!-- Tabel popular products -->

  <app-card class="card6 min-h-[330px]">
    <div class="flex flex-col justify-between items-center h-full p-8">
      <div class="flex justify-between w-full">
        <h3 class="font-bold text-2xl">Popular products</h3>
        <a class="text-accent" routerLink="/products">View all</a>
      </div>
      <table class="w-full h-full my-8">
        <thead>
          <tr class="opacity-20">
            <th class="text-right pr-6 lg:pr-20 xl:pr-28 py-2"># Id</th>
            <th class="text-right pr-6 lg:pr-20 xl:pr-28 py-2">Product name</th>
            <th class="max-md:hidden text-right pr-6 lg:pr-20 xl:pr-28 py-2">
              Category
            </th>
            <th class="text-right pr-6 lg:pr-20 xl:pr-28 py-2"># sold</th>
            <th class="max-md:hidden text-right pr-6 lg:pr-20 xl:pr-28 py-2">
              Profit
            </th>
          </tr>
        </thead>
        <tbody class="">
          <tr class="" *ngFor="let product of popularProducts">
            <td class="text-right pr-6 lg:pr-20 xl:pr-28 py-4">
              <span class="text-primary">#</span>{{ product.product_id }}
            </td>
            <td class="text-right pr-6 lg:pr-20 xl:pr-28 py-4">
              {{ product.product_name }}
            </td>
            <td class="max-md:hidden text-right pr-6 lg:pr-20 xl:pr-28 py-4">
              {{ product.category_name }}
            </td>
            <td class="text-right pr-6 lg:pr-20 xl:pr-28 py-4">
              <span class="text-primary">#</span>{{ product.order_count }}
            </td>
            <td class="max-md:hidden text-right pr-6 lg:pr-20 xl:pr-28 py-4">
              <span class="text-primary">$</span
              >{{ product.total_profit | number }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
