<div class="parent h-screen p-8">
  <app-card
    class="card1"
    [height]="'h-1/2 lg:h-full'"
    [backgroundClass]="'bg-background'"
  ></app-card>
  <app-card
    class="card2"
    [height]="'h-1/2 lg:h-full'"
    [backgroundClass]="'bg-background'"
  ></app-card>
  <app-card
    class="card3"
    [height]="'h-1/6 lg:h-full'"
    [backgroundClass]="'bg-primary'"
    [opacity]="false"
    [textColor]="'text-black'"
  ></app-card>
  <app-card
    class="card4"
    [height]="'h-1/6 lg:h-full'"
    [backgroundClass]="'bg-primary'"
    [opacity]="false"
    [textColor]="'text-black'"
  ></app-card>
  <app-card
    class="card5"
    [height]="'h-1/6 lg:h-full'"
    [backgroundClass]="'bg-primary'"
    [opacity]="false"
    [textColor]="'text-black'"
  ></app-card>
  <app-card
    class="card6"
    [height]="'h-1/2 lg:h-full'"
    [backgroundClass]="'bg-background'"
  ></app-card>
  <app-card
    class="card7"
    [height]="'h-1/2 lg:h-full'"
    [backgroundClass]="'bg-background'"
  ></app-card>
</div>
