<nav class="relative p-4">
  <div class="absolute inset-0 bg-background opacity-20"></div>
  <div class="relative z-10 flex items-center justify-between text-text">
    <a
      class="flex items-center space-x-4 bg-[#121111] pl-2 pr-4 py-2 rounded-full"
      routerLink="/"
    >
      <img src="/../../assets/logo.png" alt="Logo" class="h-12" />
      <span class="text-3xl font-bold">DashR</span>
    </a>
    <div
      class="flex items-center space-x-24 text-white text-2xl bg-[#212121] rounded-full p-2"
    >
      <a
        class="flex items-center space-x-2 hover:bg-accent hover:text-black hover:rounded-full m-1 px-2 py-1 hover:transition-all ease-in-out"
        routerLink="/dashboard"
        routerLinkActive="bg-black rounded-full"
      >
        <img
          src="/../../assets/icons/dashboard.svg"
          alt="Dashboard"
          class="h-6"
        />
        <span class="text-xl">Dashboard</span>
      </a>
      <a
        class="flex items-center space-x-2 hover:bg-accent hover:text-black hover:rounded-full m-1 px-2 py-1 hover:transition-all ease-in-out"
        routerLink="/sales"
        routerLinkActive="bg-black rounded-full"
      >
        <img src="/../../assets/icons/sales.svg" alt="Sales" class="h-8" />
        <span class="text-xl">Sales</span>
      </a>
      <a
        class="flex items-center space-x-2 hover:bg-accent hover:text-black hover:rounded-full m-1 px-2 py-1 hover:transition-all ease-in-out"
        routerLink="/products"
        routerLinkActive="bg-black rounded-full"
      >
        <img
          src="/../../assets/icons/products.svg"
          alt="Products"
          class="h-8"
        />
        <span class="text-xl">Products</span>
      </a>
      <a
        class="flex items-center space-x-2 hover:bg-accent hover:text-black hover:rounded-full m-1 px-2 py-1 hover:transition-all ease-in-out"
        routerLink="/customers"
        routerLinkActive="bg-black rounded-full"
      >
        <img
          src="/../../assets/icons/customers.svg"
          alt="Customers"
          class="h-8"
        />
        <span class="text-xl">Customers</span>
      </a>
    </div>
    <div
      class="flex items-center space-x-4 bg-black rounded-full p-2 bg-[#121111]"
    >
      <a
        class="bg-black rounded-full p-2 hover:bg-accent hover:transition-all ease-in-out"
        href="#"
      >
        <img src="/../../assets/icons/refresh.svg" alt="Refresh" class="h-8" />
      </a>
      <a
        class="bg-black rounded-full p-2 hover:bg-accent hover:transition-all ease-in-out"
        href="#"
      >
        <img
          src="/../../assets/icons/settings.svg"
          alt="Settings"
          class="h-8"
        />
      </a>
      <a
        class="bg-black rounded-full p-2 hover:bg-accent hover:transition-all ease-in-out"
        href="#"
      >
        <img src="/../../assets/icons/profile.svg" alt="Profile" class="h-8" />
      </a>
    </div>
  </div>
</nav>
