<nav class="relative p-4">
  <div class="absolute inset-0 bg-background opacity-20"></div>
  <div
    class="relative lg:flex lg:items-center lg:justify-between z-10 text-text"
  >
    <div class="flex items-center justify-between">
      <a
        class="flex items-center space-x-4 bg-[#121111] pl-2 pr-4 py-2 rounded-full"
        routerLink="/"
      >
        <img
          src="/../../assets/logo.png"
          alt="Logo"
          class="h-8 lg:h-10 xl:h-14"
        />
        <span class="text-xl lg:text-2xl xl:text-4xl font-bold">DashR</span>
      </a>
      <div class="block lg:hidden pr-2">
        <button
          id="nav-icon3"
          class="w-6 h-4"
          [class.open]="isOpen"
          type="button"
          (click)="toggleMenu()"
        >
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
    <div
      *ngIf="isOpen"
      class="flex flex-col items-center text-text text-xl space-y-4 h-screen mt-12"
    >
      <a
        class="rounded-full px-2 py-1"
        routerLink="/dashboard"
        routerLinkActive="bg-black text-accent"
        >Dashboard</a
      >
      <a
        class="rounded-full px-2 py-1"
        routerLink="/sales"
        routerLinkActive="bg-black text-accent"
        >Sales</a
      >
      <a
        class="rounded-full px-2 py-1"
        routerLink="/products"
        routerLinkActive="bg-black text-accent"
        >Products</a
      >
      <a
        class="rounded-full px-2 py-1"
        routerLink="/customers"
        routerLinkActive="bg-black text-accent"
        >Customers</a
      >
      <a
        class="rounded-full px-2 py-1"
        routerLink="/settings"
        routerLinkActive="bg-black text-accent"
        >Settings</a
      >
      <a
        class="rounded-full px-2 py-1"
        routerLink="/profile"
        routerLinkActive="bg-black text-accent"
        >Profile</a
      >
    </div>
    <div
      class="hidden lg:flex items-center lg:space-x-12 xl:space-x-24 text-white text-md xl:text-xl bg-[#212121] rounded-full pr-2"
    >
      <a
        class="flex items-center space-x-2 hover:bg-accent hover:text-black rounded-full m-2 p-2 hover:transition-all ease-in-out duration-500"
        routerLink="/dashboard"
        routerLinkActive="bg-black"
      >
        <img
          src="/../../assets/icons/dashboard.svg"
          alt="Dashboard"
          class="h-6"
        />
        <span>Dashboard</span>
      </a>
      <a
        class="flex items-center space-x-2 hover:bg-accent hover:text-black rounded-full m-2 p-2 hover:transition-all ease-in-out duration-500"
        routerLink="/sales"
        routerLinkActive="bg-black"
      >
        <img src="/../../assets/icons/sales.svg" alt="Sales" class="h-8" />
        <span>Sales</span>
      </a>
      <a
        class="flex items-center space-x-2 hover:bg-accent hover:text-black rounded-full m-2 p-2 hover:transition-all ease-in-out duration-500"
        routerLink="/products"
        routerLinkActive="bg-black"
      >
        <img
          src="/../../assets/icons/products.svg"
          alt="Products"
          class="h-8"
        />
        <span>Products</span>
      </a>
      <a
        class="flex items-center space-x-2 hover:bg-accent hover:text-black rounded-full m-2 p-2 hover:transition-all ease-in-out duration-500"
        routerLink="/customers"
        routerLinkActive="bg-black"
      >
        <img
          src="/../../assets/icons/customers.svg"
          alt="Customers"
          class="h-8"
        />
        <span>Customers</span>
      </a>
    </div>
    <div
      class="hidden lg:flex items-center lg:space-x-4 bg-black rounded-full p-2 bg-[#121111]"
    >
      <a
        class="bg-black rounded-full p-2 hover:bg-accent hover:transition-all ease-in-out duration-500"
        href="#"
      >
        <img src="/../../assets/icons/refresh.svg" alt="Refresh" class="h-8" />
      </a>
      <a
        class="bg-black rounded-full p-2 hover:bg-accent hover:transition-all ease-in-out duration-500"
        routerLink="/settings"
        routerLinkActive="bg-accent"
      >
        <img
          src="/../../assets/icons/settings.svg"
          alt="Settings"
          class="h-8"
        />
      </a>
      <a
        class="bg-black rounded-full p-2 hover:bg-accent hover:transition-all ease-in-out duration-500"
        routerLink="/Profile"
        routerLinkActive="bg-accent"
      >
        <img src="/../../assets/icons/profile.svg" alt="Profile" class="h-8" />
      </a>
    </div>
  </div>
</nav>
